:root {
    --image: ''
}

.ling-ani {
    width:500px;
    height:476px;
    margin-top:-210px;
    margin-left: -0.8em;
    pointer-events:none;
    background: var(--image);  /* see Image.js */
    animation:sprite-ling 2s steps(10) infinite;
    border-bottom: 5px dashed #000;
    border-right: 8px dashed #000;
   }
   @keyframes sprite-ling {
    100% {
     background-position:-5000px 0
    }
   }